body {
  background: #F5EFE7 ;
  color: #213555;
  margin-top: 5rem;
}
button{
  background:#F5EFE7;
  border: 1px solid #213555 !important ;

}

ul li {
  position: relative; /* Makes the list item the parent for the link's positioning */ 
  padding: 25px !important;
}

ul li a {
  position: absolute; /* Makes the link cover the entire list item */
  top: 12px;
  left: 10px;
  width: 100%; /* Ensures the link stretches across the full width of the list item */
  height: 100%; /* Ensures the link covers the full height of the list item */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Keeps the text color of the link */
  z-index: 1; /* Brings the link above the bullet */
}

ul li:hover {
  cursor: pointer; /* Makes the entire list item appear interactive */
}


h1, h2, h3, h4, h5, h6 {
  color: #213555;
}

li, .card-body{
  background: #F5EFE7 !important; 
  color: #213555 !important;
} 

ul { 
  margin: 0;
}

.navbar{
  border-bottom: 1px solid #213555 !important;
  background: #F5EFE7 ; 

}

.site-header .navbar-nav .nav-link {
  color: #3E5879; 
  transition: color 0.15s; 
  border-bottom-style: solid; 
  border-color:#3E5879; 
  margin-right: 10px; 
  
} 

.searchBar{
  background: #F5EFE7;
  border: 1px solid #213555; 
  border-radius: 20px; 
  width:300px;
}

.d-flex{
  gap:5px !important;
}

.pick_imgs{
  max-width: 120%;
  height: auto;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff; 
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
} 

.pick-container{
  border: 1px solid #213555;
  border-radius: 15px; 
}

.content-section {
  background: #F5EFE7;
  padding: 20px 20px;
  border: 1px solid #213555;
  border-radius: 15px; 
  margin-bottom: 15px;
}

.paginationBtn, .logoutBtn{
  border: 1px solid #213555;
} 
.currentBtn{
  background: #213555; 
  color: #F5EFE7


}

.article-title, a{
  color: #213555 !important; 
  transition: color 0.5s;
} 
.btn:hover {
  z-index: 10; /* Ensures the button and its content are on top */
  transform: scale(1.05); /* Optional for hover effect */
}

.form-control, .list-group-item{
  border: 1px solid #213555 !important ; 
  transition: background 0.15s;
}

.list-group-item:hover{
  background:#ebebeb !important;
}

.btn {
    overflow: visible; /* Ensure content isn't clipped */
}
a:hover,article-title:hover {
  color: #7388a3 !important;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #979caa;
}

.article-metadata a:hover {
  color: white;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}