{% extends "blog/base.html" %}
{% block content%}

   <div className="mr-4" >
         <h4>
            About
         </h4>           
         <div className="d-flex justify-content-center" style="gap:10px;">  
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam arcu mauris, placerat vitae dictum ac, dignissim in justo. Sed commodo, massa et facilisis egestas, leo enim tincidunt libero, id semper magna ipsum placerat metus. Nunc ac interdum neque, quis lobortis sem. Proin id ornare diam, ac dapibus magna. Nam rhoncus accumsan gravida. Nulla quis purus sodales, scelerisque eros id, venenatis odio. Etiam ut orci faucibus, rhoncus elit sed, sagittis ligula. Maecenas feugiat auctor risus sit amet viverra. Integer vulputate felis eget leo tempor, et feugiat nisi venenatis. Maecenas id tristique tortor. Suspendisse ut auctor risus. Nullam sit amet felis porta, hendrerit lorem nec, mattis tortor. Nulla libero metus, iaculis vitae mi a, egestas semper metus. Ut vel felis orci. Ut quis fermentum risus. Sed iaculis arcu at consequat laoreet.
            </p>
         </div> 
         <div class="container mt-5">
            <div class="d-flex justify-content-center py-3">
                <a href="https://www.linkedin.com/in/justin-l005/" target="_blank"  class="btn btn-outline-dark mx-4 py-3 px-4">
                    <strong class="fab fa-linkedin fa-2x ">LinkedIn: <small class="d-block">linkedin.com/in/justin-l005</small> </strong>
                </a>
                <a href="https://github.com/JustinLi3" target="_blank"  class="btn btn-outline-dark mx-4 py-3 px-4">
                    <strong class="fab fa-github fa-2x ">Github: <small class="d-block">github.com/JustinLi3</small></strong>
                </a>
                <a href="https://justinli.netlify.app" target="_blank" class="btn btn-outline-dark mx-4 py-3 px-4" >
                    <strong class="fas fa-globe fa-2x ">Personal Website: <small class="d-block">justinli.netlify.app</small></strong>
                </a>
            </div>
        </div>
   </div>
{% endblock content %}
