{% extends "blog/base.html" %}
{% block content%}

   <div className="mr-4" >
         <h4>
            About
         </h4>           
         <div className="d-flex justify-content-center" style="gap:10px;">  
            <p>
                Welcome to Scents & Notes, a blog that combines my passion for programming with the powerful connection between scents and memories. I'm Justin, a developer inspired by how fragrances can instantly evoke cherished moments and emotions. A single waft of cologne or perfume can transport us to specific places, people, and times, and that magical experience inspired this project.
                Scents & Notes is more than a blog; it’s a community for fragrance enthusiasts to share and celebrate the stories behind their favorite scents. From the comforting aroma of a loved one’s cologne to the rich notes of a special occasion, each fragrance tells a unique story. This platform fosters a space to appreciate the artistry and emotional impact of scents while connecting with others who feel the same.
                Special thanks to Corey Schafer for his amazing Django tutorial series (watch here), which guided me in building this project. Join us as we explore the world of fragrances, one scent and one story at a time.
            </p>
         </div> 
         <div class="container mt-4">
            <div class="d-flex justify-content-center py-3">
                <a href="https://www.linkedin.com/in/justin-l005/" target="_blank"  class="btn btn-outline-dark mx-4 px-4">
                    <strong class="fab fa-linkedin fa-2x ">LinkedIn: <small class="d-block">linkedin.com/in/justin-l005</small> </strong>
                </a>
                <a href="https://github.com/JustinLi3" target="_blank"  class="btn btn-outline-dark mx-4  px-4">
                    <strong class="fab fa-github fa-2x ">Github: <small class="d-block">github.com/JustinLi3</small></strong>
                </a>
                <a href="https://justinli.netlify.app" target="_blank" class="btn btn-outline-dark mx-4 px-4" >
                    <strong class="fas fa-globe fa-2x ">Portfolio: <small class="d-block">justinli.netlify.app</small></strong>
                </a>
            </div>
        </div>
   </div>
{% endblock content %}
