{%extends "blog/base.html"%}
{%load static%} 
{%block content%}
    <h2 class="d-flex justify-content-center "> Justin's Picks  </h2> 
    <div class="row mt-3 mb-3 pb-3 pick-container"> 
        <div class="col-2 ml-2">
            <img src="{%static 'blog/YSL_OG.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Yves Saint Laurent La Nuit de L'Homme (2009): The ultimate smooth and seductive scent, with cardamom and lavender creating an irresistible allure. You probably love how versatile and classy it feels, making it a go-to for date nights or special moments.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/YSL_BE.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Yves Saint Laurent La Nuit de L'Homme Bleu Électrique (2021): A vibrant and slightly electrifying twist on the original La Nuit, with added ginger and citrus for a fresh punch. You enjoy its perfect mix of freshness and warmth, making it great for both daytime and evening wear.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/YSL_LP.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Yves Saint Laurent L'Homme Le Parfum (2020): A classy, sophisticated scent with a bold, aromatic profile featuring cedarwood and ozonic notes. You’re probably drawn to its modern yet professional feel, perfect for making a statement at work or formal events.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/IM.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Issey Miyake L’Eau d’Issey Pour Homme (1994): A timeless fresh and aquatic fragrance that’s clean, light, and invigorating. You love its effortless wearability, especially during warmer months, when you want something crisp and refreshing.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/AC.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Giorgio Armani Code Special Blend (2015): A refined and elegant fragrance with warm amber and woody notes that exude sophistication. You’re drawn to how effortlessly it balances depth and freshness, making it ideal for formal occasions.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/A_TMW.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Azzaro The Most Wanted (2021): A sweet and spicy powerhouse with toffee and cardamom that feels bold yet smooth. You probably enjoy its irresistible warmth and strength, making it perfect for cooler weather and evening occasions.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/CCH.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Coach for Men (2017): A fresh and clean scent with a crisp apple note and a woody base that’s easy to wear. You likely appreciate its modern, casual vibe that works great as a daily go-to fragrance.</div>
        <div class="w-100 mt-3  border border-bottom-dark"></div>
        <div class="col-2 ml-2">
            <img src="{%static 'blog/VR.png'%}" class="img-fluid pick_imgs mt-3" alt="">
        </div>
        <div class="col-8 mt-2 ml-4 d-flex align-items-center">Viktor &amp; Rolf Spicebomb (2012): The perfect spicy and bold cologne with an explosive mix of cinnamon, tobacco, and leather. It likely appeals to you for its masculine edge and attention-grabbing scent that’s perfect for cooler weather or evenings out.</div>

      </div>
{%endblock content%}