{% extends "blog/base.html" %}
{% block content%} 
    <div class="form-container p-3 mb-4 shadow"> 
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
        <h1 class="d-flex justify-content-center">Find Your Fragrance</h1>
        <div class="w-100 my-3  border border-bottom-dark"></div> 
        <div class="border border-danger rounded text-danger p-2 mb-4" id="error-message" style="display: none; margin-top: 10px;"></div>
        <form method="POST" id="preferences" > 
          {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address <small>(Optional)</small></label>
                <input type="email" class="form-control" id="preference-email" placeholder="name@example.com">
              </div>
              <div class="form-group mb-0">
                <label for="type">Fragrance Type</label>
                <select class="form-control" id="fragrance-type">
                  <option>No preference</option>
                  <option>Cologne</option>
                  <option>Perfume</option>
                  <option>Unisex</option>
                </select>
              </div>
    
              <div class="form-group row">
                <div class="col w-auto text-center mt-4">
                    <label for="fragrance-format" class="">Fragrance Format*</label>
                    <select multiple="multiple" id="fragrance-format" class="fragrance-format multiple-checkboxes form-control" >
                        <option>Eau de Parfum (EDP)</option>
                        <option>Eau de Toilette (EDT)</option>
                        <option>Eau de Cologne</option>
                        <option>Body Mists or Sprays</option>
                        <option>Solid Perfumes</option>
                    </select>
                </div>
                <div class="col w-auto text-center mt-4">
                    <label for="scent-portfolio" class="">Scent Portfolio*</label>
                    <select multiple="multiple" id="scent-portfolio" class="scent-portfolio multiple-checkboxes form-control" >
                        <option>Fresh</option>
                        <option>Floral</option>
                        <option>Fruity</option>
                        <option>Woody</option>
                        <option>Oriental</option>
                        <option>Spicy</option>
                        <option>Earthy</option>
                        <option>Sweet</option>
                        <option>Leather</option>
                    </select>
                </div>
            </div>
    
            <div class="form-group">
              <label for="personality-traits">Describe Your Personality! <small>(Optional)</small></label>
              <textarea class="form-control" placeholder= "e.g., adventurous, romantic, confident, laid-back" id="personality-traits" rows="2"></textarea>
            </div> 
            <div class="w-100 mt-3  border border-bottom-dark"></div>

            <div  class="d-flex justify-content-center my-3"> 
              <button type="submit" class="btn ">Submit</button>
            </div>
              
        </form> 
    </div>
  
    
{% endblock content%}