{% extends "blog/base.html" %}
{% block content%}
    
<div class="container pb-5 card-body shadow-sm">
    <h1 class="text-center mb-1">What Works for You?</h1>
    <p class="text-center text-muted mb-3">Discover the five most popular scent profiles and find your perfect match.</p>

    <div class="row gy-4 justify-content-center">
        <!-- Fresh Scents -->
        <div class="col-12">
            <div class="card h-100 text-center mx-auto shadow" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title">Fresh</h5>
                    <p class="card-text">Clean, citrusy, and aquatic scents for vibrant and warm days.</p>
                    <button class="btn "><a target="_blank" href="https://www.fragrancex.com/shopping/best?notes%5B0%5D=Fresh">Explore<a></button>
                </div>
            </div>
        </div>

        <!-- Warm & Spicy -->
        <div class="col-8 mt-3">
            <div class="card h-100 text-center mx-auto shadow" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title">Warm &amp; Spicy</h5>
                    <p class="card-text">Bold notes like cinnamon and amber for cozy evenings.</p>
                    <button class="btn mt-3"><a target="_blank" href="https://www.fragrancex.com/shopping/best?notes%5B0%5D=Spicy">Explore<a></button>
                    </div>
            </div>
        </div>

        <!-- Woody -->
        <div class="col-12 mt-3">
            <div class="card h-100 text-center mx-auto shadow" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title">Woody</h5>
                    <p class="card-text">Earthy scents like cedarwood and sandalwood for grounding vibes.</p>
                    <button class="btn mt-3"><a target="_blank" href="https://www.fragrancex.com/search/search_results?currentPage=1&searchSortExpression=1&instock=true&types%5B0%5D=Top%20Sellers&notes%5B0%5D=Woodsy&notes%5B1%5D=Woody">Explore<a></button>
                    </div>
            </div>
        </div>

        <!-- Floral -->
        <div class="col-8 mt-3">
            <div class="card h-100 text-center mx-auto shadow" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title">Floral</h5>
                    <p class="card-text">Soft, elegant, and romantic scents inspired by blooming flowers for timeless vibes.                    </p>
                    <button class="btn mt-3"><a target="_blank" href="https://www.fragrancex.com/shopping/best?notes%5B0%5D=Floral">Explore<a></button>
                    </div>
            </div>
        </div>

        <!-- Fruity -->
        <div class="col-12 mt-3">
            <div class="card h-100 text-center mx-auto shadow" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title">Fruity</h5>
                    <p class="card-text">Fresh, juicy, and playful scents with vibrant fruit notes for a cheerful and youthful feel.</p>
                    <button class="btn mt-3"><a target="_blank" href="https://www.fragrancex.com/shopping/best?notes%5B0%5D=Fruity">Explore<a></button>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}